.registration{

    background-color: white;
    width: 400.5px;
    height: 453px;
    margin-top: 41px;
    margin-right: 56px;
    margin-bottom: 96px;

}

.headreg{

    width: 212px;
    height: 42px;

    margin-left: 63.5px;
    margin-top: 40px;
    margin-right: 125px;

}

.headreg p{

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
}

.log{

    width: 321px;
    height: 69px;

    margin-top: 40px;
    margin-left: 42.5px;
    margin-right: 37px;

}

.log p{

    margin: 0;
    width: 48px;
    height: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

}

.log input{

    margin-top: 8px;
    width: 321px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

}

.pass{

    width: 321px;
    height: 69px;

    margin-top: 8px;
    margin-left: 42.5px;
    margin-right: 37px;
}

.pass p{

    margin: 0;
    width: 48px;
    height: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

}

.repeatpass{

    width: 321px;
    height: 69px;

    margin-top: 8px;
    margin-left: 43.5px;
    margin-right: 36px;
    
}

.repeatpass p{

    margin: 0;
    width: 146px;
    height: 21px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

}

.repeatpass input{

    width: 321px;
    height: 40px;
    margin-top: 8px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

}

.pass input{
    
    margin-top: 8px;
    width: 321px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    

}

.btn_reg{

    width: 195px;
    height: 40px;

    margin-right: 36px;
    margin-left: 169.5px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;


    color: rgba(0, 0, 0, 0.8);

}

.btn_reg:hover{

    width: 195px;
    height: 40px;

    margin-right: 36px;
    margin-left: 169.5px;

    background: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;


    color: rgba(0, 0, 0, 0.8);

}

.btn_reg:active{

    width: 195px;
    height: 40px;

    margin-right: 36px;
    margin-left: 169.5px;

    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;


    color: rgba(0, 0, 0, 0.8);

}





.link_reg{

    text-decoration: none;
    
}

.reg_text{ 

    width: 136px;
    height: 21px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;

    margin-top: 8px;
    margin-left: 227.5px;
    margin-bottom: 24px;
    margin-right: 37px;
    color: black;



}

.log input::placeholder{

    width: 44px;
    height: 21px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: rgba(0, 0, 0, 0.2);

    padding-left: 21px;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-right: 256;

}

.pass input::placeholder{

    width: 79px;
    height: 21px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: rgba(0, 0, 0, 0.2);

    padding-left: 21px;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-right: 221px;
}

.repeatpass input::placeholder{

    width: 79px;
    height: 21px;
    left: 597px;
    top: 473px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: rgba(0, 0, 0, 0.2);

    padding-left: 21px;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-right: 221px;
}

input:focus-visible{

    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    font-weight: 300;
}

input{

    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    font-weight: 300;

}

.errortext{

    color: red;
    font-size: 14px;
    margin: 0;

}
.error{

    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}