body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    background: #E5E5E5;

}

.sample{

    width: 990px;
    height: 707px;
    background: rgba(197, 233, 255, 0.72);

}


